// 添加背景图片
body {
     // background: url(https://source.unsplash.com/random/1600x900?wallpapers);//自己喜欢的图片地址
  //    background-size: cover;
   //   background-repeat: no-repeat;
 //     background-attachment: fixed;
   //   background-position: 50% 50%;
}


// 标题栏背景
.site-meta {
    padding: 20px 0;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
}  

// 修改主体透明度
.main-inner{

}

// 修改菜单栏透明度，会引起本地搜索菜单bug
//.header-inner {
//    opacity: 0.95;
//}

// 主页文章添加阴影效果
.post-block {
   margin-top: 30px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

//主标题颜色
.brand{
    color: white
}

//副标题颜色
.site-subtitle {
    margin-top: 10px;
    font-size: 13px;
    color: #ffffff;
}